{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}

{% endblock %}

{% block content %}
<!-- heading  -->
<div class="columns">
    <div class="column">
        <h2 class="title-heading">Shopping Bag</h2>
    </div>
</div>
<!-- end of heading  -->
{% if bag_items %}
<div class="columns is-justify-content-center">
    <div class="column is-10">
        <div class="columns">
            <div class="column title is-5 is-underlined">Items in your bag: </div>
            <div class="column"></div>
            <div class="column title is-5 has-text-right is-underlined">Totals</div>
        </div>
        <hr>

        {% for item in bag_items %}
        <div class="columns is-multiline">
            <div class="column">
                <div class="card-image">
                    <figure class="image is-4by3 bag-image">
                        {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="image for {{ item.product.name }}">
                        {% else %}
                        <img src="{{ MEDIA_URL }}knitting.png" alt="image for {{ item.product.name }}">
                        {% endif %}
                    </figure>
                </div>
            </div>
            <div class="column">
                <div class="card-content has-text-centered">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-6">{{ item.product.name }}</p>
                            <p class="subtitle is-6">
                                {% if item.product.has_sizes %}Size:{{ item.size|upper }}{% endif %}
                            </p>
                            <p class="subtitle is-6">
                                {% if item.product.has_weights %}Weight:{{ item.weight|upper }}{% endif %}
                            </p>
                            <p class="subtitle is-6">SKU: {{ item.product.sku|upper }}</p>
                            <p class="subtitle is-6">Price: £{{ item.product.price }}</p>
                            <form class="update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                                {% csrf_token %}
                                <div class="columns is-justify-content-center">
                                    <div class="column is-6">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="number" name="quantity"
                                                    value="{{ item.quantity }}" min="0" max="99"
                                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}"
                                                    placeholder="Quantity">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if item.product.has_sizes %}
                                <input type="hidden" name="product_size" value="{{ item.size }}">
                                {% endif %}
                                {% if item.product.has_weights %}
                                <input type="hidden" name="product_weight" value="{{ item.weight }}">
                                {% endif %}
                                <button class="button is-danger" type="submit">Update</button>
                            </form>
                            <a class="remove-item is-light is-danger button" id="remove_{{ item.item_id }}"
                                data-product_size="{{ item.size }}">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column  total-column">
                <div class="content has-text-right">
                    <p> Total: £{{ total|floatformat:2 }}</p>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
        <div class="column  total-column">
            <div class="content has-text-right">
                <p> Total: £{{ total|floatformat:2 }}</p>
                <p>Delivery cost: £{{ delivery|floatformat:2 }}</p>
                <p>Grand total: £{{ grand_total|floatformat:2 }}</p>
                {% if free_delivery_delta > 0 %}
                <p>You could get free delivery if you spend £{{ free_delivery_delta }} more</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!-- back to products  -->
<div class="columns">
    <div class="column has-text-centered">
        <a href="{% url 'products' %}" class="button is-danger is-outlined">
            <i class="fas fa-angle-left mr-1"></i>Keep Shopping
        </a>
    </div>
    <!-- end of back to products  -->
    <!-- checkout button  -->

    <div class="column has-text-centered">
        <a href="{% url 'checkout' %}" class="button is-danger">
            <i class="fas fa-lock mr-1"></i>Secure Checkout
        </a>
    </div>
</div>
<!-- end of back to products  -->
{% else %}
<!-- back to products  -->
<div class="hero is-halfheight container">
    <div class="hero-body">
        <div class="columns is-multiline has-text-centered">
            <div class="column">
                <h4>You haven't got anything in your bag!</h4>
                <h3>See the blog for some inspiration or</h3>
                <a href="{% url 'products' %}" class="button is-danger is-outlined">
                    <i class="fas fa-angle-left mr-1"></i>Keep Shopping
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end of back to products  -->
{% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let size = $(this).data('product_size');
        let url = `/bag/remove/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}