{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/bag.css' %}">
{% endblock %}

{% block extra_js %}
<!-- uni-form jquery  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Uniform.js/4.3.0/js/jquery.uniform.bundled.js"></script>
{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <!-- heading  -->
        <div class="columns">
            <div class="column">
                <h2 class="title-heading my-5">Shopping Bag</h2>
            </div>
        </div>
        <!-- end of heading  -->
        {% if bag_items %}
        <div class="columns is-justify-content-center m-3">
            <div class="column is-5 is-underlined bag-title">Items in your bag: </div>
            <div class="column is-5 is-hidden-touch"></div>
            <div class="column is-2 has-text-right is-underlined bag-title is-hidden-touch">Totals</div>
        </div>
        {% for item in bag_items %}
        <div class="columns is-multiline m-3">
            <div class="column is-4">
                <div class="card">
                {% if item.product.image %}
                <a href="{% url 'product_detail' item.product.id %}">
                    <div class="card-image">
                        <figure class="is-flex is-align-items-center is-justify-content-center image is-height-300"">
                            <img src="{{ item.product.image.url }}" alt="image for {{ item.product.name }}"
                                class="product-image" height="300">
                        </figure>
                    </div>
                </a>
                {% else %}
                <div class="card-image">
                    <figure class="is-flex is-align-items-center is-justify-content-center image is-height-300">
                        <img src="{{ MEDIA_URL }}noimage.png" alt="image for {{ item.product.name }}">
                    </figure>
                </div>
                {% endif %}
            </div></div>
            <div class="column is-6">
                <div class="card-content  has-text-right">
                    <p class="product-title is-6 my-2">{{ item.product.name }}</p>
                    <p class="small is-6">
                        {% if item.product.has_sizes %}Size: {{ item.size|upper }}{% endif %}
                    </p>
                    <p class="small is-6">
                        {% if item.product.has_weights %}Weight: {{ item.weight|capfirst }}{% endif %}
                    </p>
                    {% if item.product.sku %}
                    <p class="small is-6">SKU: {{ item.product.sku|upper }}</p>
                    {% endif %}
                    <p class="product-title my-2 is-6">Price Each: £{{ item.product.price }}</p>

                    <p class="product-title is-6 m-3 is-hidden-desktop">£ {{item.product.price}}</p>
                    <form class="update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                        {% csrf_token %}
                        <div class="columns is-justify-content-right is-mobile">
                            <div class="column is-6">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="number" name="quantity" value="{{ item.quantity }}"
                                            min="0" max="99" data-item_id="{{ item.item_id }}"
                                            id="id_qty_{{ item.item_id }}" placeholder="Quantity">
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if item.product.has_sizes %}
                        <input type="hidden" name="product_size" value="{{ item.size }}">
                        <div class="columns is-mobile">
                            <div class="column">
                                <button class="button is-danger" type="submit">Update</button>
                                <a class="remove-size is-light is-danger is-outlined button"
                                    id="remove_size_{{ item.item_id }}" data-product_size="{{ item.size }}">Remove</a>
                            </div>
                        </div>
                        {% elif item.product.has_weights %}
                        <input type="hidden" name="product_weight" value="{{ item.weight }}">
                        <div class="columns is-mobile">
                            <div class="column">
                                <button class="button is-danger" type="submit">Update</button>
                                <a class="remove-weight is-light is-danger is-outlined button"
                                    id="remove_weight_{{ item.item_id }}"
                                    data-product_weight="{{ item.weight }}">Remove</a>
                            </div>
                        </div>
                        {% else %}
                        <div class="columns is-mobile">
                            <div class="column">
                                <button class="button is-danger" type="submit">Update</button>
                                <a class="remove- is-light is-danger is-outlined button"
                                    id="remove_{{ item.item_id }}">Remove</a>
                            </div>
                        </div>
                        {% endif%}
                    </form>
                </div>
            </div>
            <div class="column is-2 is-hidden-mobile">
                <!-- <p class="product-title has-text-right is-6 is-align-content-end">£ {{ item.product.price | calc_subtotal:item.quantity }}</p> -->
            </div>
        </div>
        <div class="columns">
            <div class="column"></div>
            <div class="column"></div>
            <div class="column is-2">
                <p class="product-title has-text-right is-6 is-align-content-end">Subtotal: 
                    £ {{ item.product.price | calc_subtotal:item.quantity }}</p>
            </div>
        </div>
        <hr class="divider-bag my-5">
        {% endfor %}

        <div class="columns is-justify-content-flex-end">
            <div class="column is-4 total-column">
                <div class="content has-text-right">
                    <p class="bag-title">Total: £{{ total|floatformat:2 }}</p>
                    <p class="small">Delivery cost: £{{ delivery|floatformat:2 }}</p>
                    <p class=" bag-title is-size-5 is-underlined">Grand total: £{{ grand_total|floatformat:2 }}</p>
                    {% if free_delivery_delta > 0 %}
                    <p class="bag-title">You could get free delivery if you spend £{{ free_delivery_delta }}
                        more</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- back to products  -->
        <div class="columns is-mobile is-justify-content-space-evenly">
            <div class="column has-text-centered my-5 is-6-mobile">
                <a href="{% url 'products' %}" class="button is-danger is-outlined">
                    <i class="fas fa-angle-left mr-1"></i>Keep Shopping
                </a>
            </div>
            <!-- end of back to products  -->
            <!-- checkout button  -->
            <div class="column has-text-centered my-5 is-6-mobile">
                <a href="{% url 'checkout' %}" class="button is-danger">
                    <i class="fas fa-lock mr-1"></i>Secure Checkout
                </a>
            </div>
        </div>
        <!-- end of back to products  -->
        {% else %}
        <div class="columns is-multiline has-text-centered my-3">
            <div class="column">
                <h4 class="my-3">You haven't got anything in your bag!</h4>
                <h3 class="my-3">See the
                    <a href="{% url 'blog' %}"> blog</a>
                    for some inspiration or
                </h3>
                <a href="{% url 'products' %}" class="button is-danger ">
                    <i class="fas fa-angle-left m-1"></i> Keep Shopping
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/uni-form-validation.jquery.js' %}"></script>

<script>
    // Remove item and reload on click
    $('.remove-size').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_size_')[1];
        let size = $(this).data('product_size');
        let url = `/bag/remove/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })

    $('.remove-weight').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_weight_')[1];
        let weight = $(this).data('product_weight');
        let url = `/bag/remove/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_weight': weight,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })

    $('.remove-').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/bag/remove/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}