{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/home.css/' %}">
{% endblock %}


{% block content %}
<div class="hero-body hero-bground">
    <div class="columns cols-animation has-text-centered is-mobile is-justify-content-center">
        <div class="column col-animation">
            <div class="image-down">
                <h2 class="notification scroll-down">
                    Check out our store
                    <a href="#product-card-columns">
                        <img src="{{ MEDIA_URL }}down.png" alt="scroll down">
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="has-text-centered is-justify-content-center shopping-links" id="product-card-columns">
    <h3 class="title-heading my-6">Check out these woolly goodies!</h3>
    <hr class="divider my-6">
    </hr>
    <div class="columns product-card-columns is-justify-content-space-evenly my-6">
        <div class="column is-10-mobile is-offset-1-mobile is-3-desktop">
            <div class="card product-card">
                <div class="card-image image is-5by4">
                    <img src="{{ MEDIA_URL }}2070685.jpg" alt="knitting image">
                    <a href="{% url 'products' %}?category=bamboo,metal,oak,wooden,carbon_fibre"
                        class="button is-primary is-light shop-buttons">Shop Needles</a>
                </div>
            </div>
        </div>
        <div class="column is-10-mobile is-offset-1-mobile is-3-desktop">
            <div class="card product-card">
                <div class="card-image image is-5by4">
                    <img src="{{ MEDIA_URL }}7188997.jpg" alt="needles image">
                    <a href="{% url 'products' %}?category=alpaca,angora,camel_hair,cashmere,lambswool,melton,merino,mohair,shetland,cotton"
                        class="
                            button is-primary is-light shop-buttons">Shop Wool</a>
                </div>
            </div>
        </div>
        <div class="column is-10-mobile is-offset-1-mobile is-3-desktop">
            <div class="card product-card">
                <div class="card-image image is-5by4">
                    <img src="{{ MEDIA_URL }}7244809.jpg" alt="patterns image">
                    <a href="{% url 'products' %}?category=knitting_pattern"
                        class="button is-primary is-light shop-buttons">Shop
                        Patterns</a>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-justify-content-center my-6">
        <div class="card inspo column is-6 is-10-mobile is-offset-1-mobile">
            <div class="my-2">
                <h2 class="title-heading-small">Looking for inspiration?</h2>
            </div>
            <div class="my-2">
                <h3 class="title-heading-small">
                    Check out the <a href="">blog<i class="far fa-hand-point-up"></i>
                </h3>
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}