{% extends "base.html" %}
{% load static %}

{% block page_header %} 
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="hero-body hero-bground is-full-height">
    <div class="container has-text-centered">
        <div class="image-down">
            <a href="#">
                <img src="media/down.png" alt="scroll down">
            </a>
        </div>
    </div>
</div>
{% endblock %}