{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-body is-fullheight">
        <div class="container">
            <!-- heading  -->
            <div class="columns">
                <div class="column">
                    <h2 class="title-heading">Profile</h2>
                </div>
            </div>
            <div class="columns is-justify-content-center">
                <div class="column is-6 is-10-mobile">
                    <p class="">Default Delivery Information</p>
                    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="button is-info">Update Information</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}