{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_js %}
<!-- uni-form jquery  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Uniform.js/4.3.0/js/jquery.uniform.bundled.js"></script>
{% endblock %}
{% if user %}
{% block extra_title %} - {{user}}'s Profile {% endblock %}
{% endif %}
{% block content %}
<div class="hero-body">
    <div class="container">
        <!-- heading  -->
        <h2 class="title-heading my-3">Profile</h2>
        <div class="columns is-justify-content-space-between ">
            <div class="column is-4 is-12-mobile">
                <div class="card my-3">
                    <div class="card-content has-text-right">
                        <p class="mb-3 title-heading-small">Default Delivery Information</p>
                        <form class="my-3 column is-6" action="{% url 'profile' %}" method="POST"
                            id="profile-update-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="button is-info my-3">Update Information</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="column is-7 is-12-mobile">
                <div class="card my-3">
                    <div class="card-content">
                        <h2 class="title-heading-small mb-5">Order History</h2>
                        {% if orders %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th class="is-hidden-mobile">Items</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:10 }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ order.date|date:"d/m/y" }}
                                    </td>
                                    <td class="is-hidden-mobile">
                                        <ul>
                                            {% for item in order.lineitems.all %}
                                            <li>
                                                {% if item.has_sizes %}Size: {{ item.product.size|upper}}{% endif %}
                                                {{ item.product.name |truncatechars:20 }} x {{ item.quantity }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        £{{ order.grand_total }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h3 class="product-title has-text-centered">
                            You don't have any orders yet!
                            Click <a href="{% url 'products' %}">here </a>to find
                            some nice goodies to buy. </h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}