{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-body">
        <div class="container">
            <!-- heading  -->
            <div class="columns">
                <div class="column">
                    <h2 class="title-heading">Profile</h2>
                </div>
            </div>
            <!-- end of heading  -->
            <!-- order  -->           
        </div>
    </div>

{% endblock %}

