/* https://coolors.co/a100ff  */
/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* https: //www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2  */
/* for scrolling down from homepage to product-card-image section  */
html {
    scroll-behavior: smooth;
}

/* navbar */

.navbar-brand img {
    max-height: 3.75rem !important;
}

img .home-button {
    padding: 0.25rem 0 0 1rem;
}

.title-heading {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    text-align: center;
}

.mobile-icon {
    max-height: 1.5rem;
}

/* code from Bulma GitHub to fix the navbar menu always open on mobile 
 https://github.com/jgthms/bulma/issues/2361 */
@media screen and (max-width: 1024px) {
    .navbar-dropdown .is-active {
        display: block;
    }

    .navbar-dropdown:not(.is-active) {
        display: none;
    }
}

/* https://unsplash.com/photos/uYf_C34PAao  */
.navbar-burger {
    padding: 42px;
}

.navbar-menu.is-active {
    display: flex;
    justify-content: center;
}

.navbar-mobile {
    display: flex;
    flex-direction: row;
}

.notification.is-danger {
    text-align: center;
    padding: 0.5rem 2.5rem 0.5rem 1.5rem;
}


.search-form {
    padding: 12px;
}

/* home  */
.hero-bground {
    background: url("../../media/rainbow.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 150vh;
}

.product-card-columns {
    margin-top: 10vh;
}

.product-card {
    padding: 20px;
    border-color: darkcyan;
    background-color: darkcyan;
    border-radius: 25px;
}


.notification {
    padding: 1.5rem;
    background-color: unset;
}

.image-down {
    padding-top: 60vh;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.scroll-down {
    width: 300px;
    margin: auto;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    color: white;
    font-family: math;
    font-size: x-large;
    border-radius: 25px;
}

.button.is-primary.is-light {
    margin-bottom: 20px;
    font-weight: 700;
}

/* end of home  */

/* footer  */

.hero-foot {
    border-top: 3px grey solid;
    padding: 20px;
}

/* products  */

/* truncate text if product name too long https: //css-tricks.com/flexbox-truncated-text/  */
.product-trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-heading {
    font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-decoration: underline;
}

.small-heading {
    font-size: 1em;
    text-decoration: underline;
}

.filter-columns {
    padding: 20px 0;
}

/* from Boutique Ado  */
.btt-button {
    height: 42px;
    width: 42px;
    bottom: 10px;
    right: 10px;


    display: none;
    position: fixed;
    z-index: 99;
}

.btt-link {
    cursor: pointer;
}

/* end of Boutique  */

/* Product detail  */
/* help from w3schools to make the accordian https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion {
    cursor: pointer;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/* end of product detail  */

/* bag  */
.total-column {
    display: flex;
    flex-direction: column;
    align-self: flex-end;

}

/* end of bag  */


/* toast  */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
    max-width: 50vw;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* end of toast  */


/* checkout  */

.payment-column {
    border-left: 2px solid grey;
}

/* end of checkout  */