.product-details-card {
    /* https: //getcssscan.com/css-box-shadow-examples no.7*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    background-color: #fff;
}

.divider-products {
    height: 0px;
    border-radius: 2px;
    color: #be3db0;
    border: 2px solid #be3db0;
    width: 80%;
    margin: 60px auto 40px;
}


.qty-label {
    padding-top: 16px;
}