.product-details-card {
    /* https: //getcssscan.com/css-box-shadow-examples no.7*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    background-color: #fff;
}

.divider-products {
    height: 0px;
    border-radius: 2px;
    color: #be3db0;
    border: 2px solid #be3db0;
    width: 80%;
    margin: 60px auto 40px;
}


.qty-label {
    padding-top: 16px;
}

label {
    margin-right: 1rem;
}

.pagination {
    justify-content: space-between;
}

.button.is-danger:hover {
    color: #E8113C;
    border: 1px solid #E8113C;
    background: #fff;
}

.button.is-text.pag-link:hover {
    background: white;
    color: #4a4a4a;
    border: 1px solid #4a4a4a;
    border-radius: 40px;
    font-weight: 1.2rem;
}

.btn-round {
    border-radius: 40px;
    background: #E8113C;
    color:white;
    font-weight: 1.2rem;
    border: 1px solid #E8113C;
}

.btn-round:hover {
    background: white;
    color: #E8113C;
    border: 1px solid #E8113C;
}

.active.button.btn-round {
    border-radius: 40px;
    background: white;
    color:#E8113C;
    font-weight: 1.2rem;
    border: 1px solid #E8113C;
}

.button[disabled] {
    opacity: 1;
}


/* Product detail  */
/* mobile only  */
.product-details-card-image {
    /* https: //getcssscan.com/css-box-shadow-examples no.7*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    background-color: #fff;
}

.product-details-card {
    /* https: //getcssscan.com/css-box-shadow-examples no.7*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    background-color: #fff;
}

.no-results {
    min-height:35vh;
}

.is-height-300 {
    height: 300px;
}

.image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* end of products  */