{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block extra_js %}
<!-- uni-form jquery  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Uniform.js/4.3.0/js/jquery.uniform.bundled.js"></script>
{% endblock %}

{% block extra_title %} - Add Blog Post {% endblock %}

{% block content %}
<div class="hero-body is-fullheight">
    <div class="container">
        <div class="columns is-justify-content-center has-text-centered">
            <div class="column is-10">
                <h1 class="title-heading my-3">Add A New Blog Post</h1>
            </div>
        </div>
        <div class="columns is-justify-content-center">
            <div class="column is-6-desktop is-10-tablet is-12-mobile my-3">
                <div class="card">
                    <div class="card-content">
                        <form action="{% url 'add_post' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="is-justify-content-space-between blog-buttons columns has-text-centered">
                                <div class="column is-4-mobile">
                                    <button class="button is-danger" type="submit">Add Post <i
                                        class="fas fa-plus-circle ml-2"></i></button>
                                </div>
                                <div class="column is-4-mobile">
                                    <a href="{% url 'blog' %}" class="button is-danger is-light is-outlined">
                                        Cancel<i class="fas fa-times ml-2"></i>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}