{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero-body is-fullheight">
    <div class="container">
        <div class="columns is-justify-content-center has-text-centered">
            <div class="column is-10">
                <h1 class="title-heading">Add A New Blog Post</h1>
            </div>
        </div>
        <div class="columns is-justify-content-center">
            <div class="column is-6-desktop is-10-tablet is-12-mobile">
                <form action="{% url 'add_post' %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="is-justify-content-space-between blog-buttons columns has-text-centered">
                        <div class="column is-4-mobile">
                            <button class="button is-danger" type="submit">Add Post</button>
                        </div>
                        <div class="column is-4-mobile">
                            <a href="{% url 'blog' %}" class="button is-danger is-light">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}