{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}
{% block content %}
<div class="hero-body">
    <div class="container">
        <div class="columns is-justify-content-center has-text-centered">
            <div class="column is-10">
                <h1 class="title-heading">Welcome to the blog!</h1>
                <a class="button is-danger" href="{% url 'add_post' %}">New Post<i class="fas fa-plus-circle"></i></a>
            </div>
        </div>
        <div class="columns is-justify-content-center">
            {% for post in posts %}
            <div class="column has-text-centered">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title">
                            <a href="{% url 'add_comment' post.slug  %}" class="title-heading-small">{{ post.title }}
                                </h2>
                            </a>
                        </div>
                    </div>
                    {% if post.image %}
                    <a href="{% url 'post_detail' post.image %}">
                        <div class="card-image">
                            <figure class="image is-5by4">
                                <img src="{{ product.image.url }}" alt="image for {{ post.title }}"
                                    class="product-image">
                            </figure>
                        </div>
                    </a>
                    {% else %}
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{ MEDIA_URL }}knitting.png" alt="image for {{ post.title }}">
                        </figure>
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <p> {{ post.content }}</p>
                    </div>
                    <small class="content">
                        {{ post.author }}
                    </small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}