{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <div class="columns is-justify-content-left my-4">
            <div class="column is-6-desktop is-10-mobile">
                <a href="{% url 'blog' %}" class="button is-danger">Back to blog homepage</a>
            </div>
        </div>
        <div class="columns is-justify-content-space-around">
            <div class="column is-4-tablet is-10-mobile is-offset-1-mobile mb-6">
                <div class="card blog-card">
                    <div class="card-header">
                        <div class="card-header-title">
                            <h1 class="title-heading-small blog-title">{{ post.title }}</h1>
                        </div>
                    </div>
                    {% if post.image %}
                    <a href="{% url 'post_detail' post.slug %}">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{ post.image.url }}" alt="image for {{ post.title }}" class="product-image">
                            </figure>
                        </div>
                    </a>
                    {% else %}
                    <div class="card-image">
                        <figure class="image is-3by4">
                            <img src="{{ MEDIA_URL }}knitting.png" alt="image for {{ post.title }}">
                        </figure>
                    </div>
                    {% endif %}
                    <div class="card-content blog-card-content">
                        <p class="blog-card-content">
                            {{ post.content | capfirst }}
                        </p>

                        <div class="blog-content content">
                            <p class="blog-p">By: <span class="blog-small">{{ post.author }}, 
                                {{ post.created_on|timesince }}
                                    ago </span></p>
                        </div>
                    </div>
                    {% if post.author == request.user %}
                            <div class="columns is-mobile has-text-centered is-justify-content-center">
                                <div class="column">
                                    <a href="{% url 'edit_post' post.slug %}" class="button is-danger">Edit Post</a>
                                </div>
                                <div class="column">
                                    <a href="{% url 'delete_post' post.slug %}" class="button is-danger is-light">Delete
                                        Post</a>
                                </div>
                            </div>
                            {% endif %}
                </div>
            </div>
            <div class="column is-6-tablet is-10-mobile is-offset-1-mobile mb-6">
                <div class="card comments">
                    <div class="card-header">
                        <div class="card-header-title">
                            <h2 class="title-heading-small">Comments about {{ post.title }}</h2>
                        </div>
                    </div>
                    <div class="card-content py-3">
                        {% for comment in post.comments.all %}
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p class="blog-content">
                                        {{ comment.comment }}
                                    </p>
                                    <p>comment by: <span class="blog-small">{{ comment.comment_author }}
                                            {{ comment.date_added|timesince }} ago</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                        {% empty %}
                        <div class="my-4">
                            No comments yet...
                        </div>
                        {% endfor %}
                        <form method="post" action=".">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="field">
                                <div class="control">
                                    <div class="columns is-mobile has-text-centered is-justify-content-space-evenly">
                                        <div class="column">
                                            <button class="button is-info">Submit</button>
                                        </div>
                                        <div class="column">
                                            <button type="reset" class="button is-info is-light">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}