{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/checkout.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-body">
        <!-- heading  -->
        <div class="columns">
            <div class="column">
                <h2 class="title-heading">Shopping Bag</h2>
            </div>
        </div>
        <!-- end of heading  -->
        <div class="columns">
            <div class="column">
                Please fill out the order below to complete your order<i class="fas fa-pen"></i>
            </div>
        </div>




        <!-- back to products  -->
        <div class="hero is-halfheight container">
            <div class="hero-body">
                <div class="columns is-multiline has-text-centered">
                    <div class="column">
                        <h4>You haven't got anything in your bag!</h4>
                        <h3>See the blog for some inspiration or</h3>
                        <a href="{% url 'products' %}" class="button is-danger is-outlined">
                            <i class="fas fa-angle-left mr-1"></i>Keep Shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of back to products  -->
    </div>
</div>

{% endblock %}