{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
<div class="hero-body">
  {% block inner_content %}
  <div class="columns">
    <div class="column">
      <h1 class="title-heading">{% trans "Sign In" %}</h1>
    </div>
  </div>
  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
  <div class="columns">
    <div class="column">
      <a class="google" href="{% provider_login_url 'google' %}">
        <span>Log in with Google</span>
      </a>
    </div>
  </div>
  <p class="my-3">or</p>
  {% include "socialaccount/snippets/login_extra.html" %}
  {% else %}
  <p class="mt-4">{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}" class="text-tag-dark">sign up</a> first.{% endblocktrans %}
  </p>
  {% endif %}

  <div class="columns">
    <div class="column">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
          {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <p class="m-3">
          <a class="button is-link is-light m-3"
            href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </p>
        <p class="m-3">
          <button class="m-3 is-danger button" type="submit">{% trans "Sign In" %}</button></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}