{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<h3 class="title-heading my-3">{% trans "Sign Out" %}</h3>

<p class="title-heading-small my-3"> {% trans 'Are you sure you want to sign out?' %}</p>

<div class="card my-3">
  <div class="card-content">
    <form method="post" action="{% url 'account_logout' %}" class="my-3">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" class="m-3" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class=" is-danger m-3 button">{% trans 'Sign Out' %}</button>
    </form>
  </div>
</div>

{% endblock %}