{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

<h3 class="title-heading my-3">{% trans "Password Reset" %}</h3>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p class="title-heading-small my-3">
    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to
    reset it." %}
</p>

<div class="card my-3">
    <div class="card-content">

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset my-3">
            {% csrf_token %}
            <div class="field m-3 is-horizontal">
                <label for="id_email" class="label m-3 column is-2">Email:</label>
                <div class="control column is-10">
                    <input class="input m-3" type="email" name="email" size="30" placeholder="E-mail address" required
                        id="id_email">
                </div>
            </div>
            <input type="submit" class="button is-danger m-3" value="{% trans 'Reset My Password' %}" />
        </form>

<p class="title-heading-small my-3">{% blocktrans %}Please contact us if you have any trouble resetting your
    password.{% endblocktrans %}</p>

<p>Thank you <i class="far fa-grin-beam"></i></p>


</div>
</div>
{% endblock %}