{% load static %}

<!DOCTYPE html>
<html>

<head>
    <!-- meta tags  -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Buy luxury wool, needles and patterns for your knitting and crochet projects and share your lovely makes on our blog">
    <meta name="keywords" content="wool, yarn, knitting, crochet, luxury brand, needles, patterns, blog, knit happens">
    {% endblock %}
    <!-- end meta tags  -->

    {% block extra_meta %}

    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- favicon  -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" crossorigin="use-credentials" href="{% static 'favicon/site.webmanifest' %}">
    <!-- uni-form css for crispy fields -->
    <link rel="stylesheet" href="{% static 'css/uni-form.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.uni-form.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/3f6b0a0556.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- uni-form jquery  -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Uniform.js/4.3.0/js/jquery.uniform.bundled.js"></script> -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Knit Happens {% block extra_title %} {% endblock %}</title>
</head>

<body>
    <section class="hero">
        <!-- navigation  -->
        <header class="hero-head">
            <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{% url 'home' %}">
                        <h1 class="title-heading">Knit Happens</h1>
                    </a>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                        data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start ">
                        <!-- search form desktop -->
                        <div class="column is-vcentered is-hidden-touch">
                            <form method="GET" action="{% url 'products' %}">
                                <div class="field has-addons">
                                    <div class="control">
                                        <input class="input" type="text" name="q" placeholder="Find something">
                                    </div>
                                    <div class="control">
                                        <a class="button is-danger" type="submit">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end of search form  -->
                    </div>
                    <!-- right side of navbar hidden on mobile  -->
                    <div class="navbar-end is-hidden-touch">
                        <a class="navbar-item" href="{% url 'blog' %}">
                            <img src="{{ MEDIA_URL }}blog.png" alt="blog">
                        </a>
                        {% if request.user.is_superuser %}
                        <a class="navbar-item" href="{% url 'add_product' %}">
                            <img src="{{ MEDIA_URL }}admin.png" alt="admin">
                        </a>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <img src="{{ MEDIA_URL }}profile-icon.png" alt="profile-icon">
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="{% url 'profile' %}">
                                    Profile
                                </a>
                                <a class="navbar-item" href="{% url 'account_logout' %}">
                                    Log out
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link is-arrowless">
                                <img src="{{ MEDIA_URL }}profile-icon.png" alt="profile-icon">
                                <i class="fas fa-angle-down"></i>
                            </a>
                            <div class="navbar-dropdown is-right">
                                <a class="navbar-item is-hidden-touch" href="{% url 'account_login' %}">
                                    Log in
                                </a>
                                <a class="navbar-item is-hidden-touch" href="{% url 'account_signup' %}">
                                    Register
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        <a class="navbar-item" href="{% url 'view_bag' %}">
                            <img src="{{ MEDIA_URL }}bag.png" alt="bag-icon">
                            <p>{% if grand_total %}
                                £{{ grand_total|floatformat:2 }}
                                {% else %}
                                £0.00
                                {% endif %}
                            </p>
                        </a>
                    </div>
                    <!-- end of hidden mobile  -->
                    <!-- navbar end hidden desktop  -->
                    <div class="navbar-end is-hidden-desktop">
                        <!-- search bar mobile  -->
                        <div class="column is-vcentered">
                            <form method="GET" action="{% url 'products' %}">
                                <div class="field has-addons">
                                    <div class="control">
                                        <input class="input" type="text" name="q" placeholder="Find something">
                                    </div>
                                    <div class="control">
                                        <a class="button is-danger" type="submit">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end of search bar mobile  -->
                        <!-- products filter mobile  -->
                        <div class="navbar-item has-dropdown is-hoverable mobile">
                            <a class="navbar-link nav-item">
                                Products
                            </a>
                            <div class="navbar-dropdown">
                                <a href="{% url 'products' %}" class="nav-item navbar-item">
                                    All Products
                                </a>
                                <a class="nav-item navbar-item"
                                    href="{% url 'products' %}?category=alpaca,angora,camel_hair,cashmere,lambswool,melton,merino,mohair,shetland,cotton,bamboo">
                                    Wool
                                </a>
                                <a class="nav-item navbar-item"
                                    href="{% url 'products' %}?category=bamboo,metal,oak,wooden,carbon_fibre">
                                    Needles
                                </a>
                                <a class="nav-item navbar-item" href="{% url 'products' %}?category=knitting_pattern">
                                    Patterns
                                </a>
                            </div>
                        </div>
                        <div class="navbar-mobile">
                            <!-- blog -->
                            <a class="navbar-item" href="{% url 'blog' %}">
                                <img src="{{ MEDIA_URL }}blog.png" alt="blog" class="mobile-icon">
                            </a>
                            {% if request.user.is_superuser %}
                            <!-- admin -->
                            <a class="navbar-item" href="{% url 'add_product' %}">
                                <img src="{{ MEDIA_URL }}admin.png" alt="admin" class="mobile-icon">
                            </a>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                            <div class="navbar-item has-dropdown is-hoverable mobile">
                                <a class="navbar-link">
                                    <img src="{{ MEDIA_URL }}profile-icon.png" alt="profile-icon">
                                </a>
                                <div class="navbar-dropdown is-right">
                                    <a class="navbar-item" href="{% url 'profile' %}">
                                        Profile
                                    </a>
                                    <a class="navbar-item" href="{% url 'account_logout' %}">
                                        Log out
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <div class="navbar-item has-dropdown is-hoverable mobile">
                                <a class="navbar-link">
                                    <img src="{{ MEDIA_URL }}profile-icon.png" alt="profile-icon">
                                </a>
                                <div class="navbar-dropdown is-right">
                                    <a class="navbar-item" href="{% url 'account_login' %}">
                                        Log in
                                    </a>
                                    <a class="navbar-item" href="{% url 'account_signup' %}">
                                        Register
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            <a class="navbar-item" href="{% url 'view_bag' %}">
                                <img src="{{ MEDIA_URL }}bag.png" alt="bag-icon" class="mobile-icon">
                                {% if grand_total %}
                                £{{ grand_total|floatformat:2 }}
                                {% else %}
                                £0.00
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <!-- end of hidden on desktop  -->
                </div>

            </nav>
            <div class="">
                {% include 'includes/main-nav.html' %}
            </div>

            <section id="delivery-banner">
                <div class="notification is-danger">
                    <div class="columns">
                        <div class="column is-text-centered">
                            <h5 class="delivery">
                                Free delivery on orders over £{{ free_delivery_threshold }}
                            </h5>
                        </div>
                    </div>
                </div>
            </section>

            {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                {% with message.level as level %}
                {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
                {% endwith %}
                {% endfor %}
            </div>
            {% endif %}
        </header>
        {% block page_header %}
        {% endblock %}

        {% block content %}

        {% endblock %}

        <!-- Hero footer: will stick at the bottom -->
        <footer class="hero-foot">
            <nav class="tabs">
                <div class="container">
                    <div class="columns">
                        <ul class="column is-justify-content-center">
                            <li><a class="nav-item">T&Cs</a></li>
                            <li><a class="nav-item">Privacy Policy</a></li>
                            <li><a class="nav-item">FAQs</a></li>
                        </ul>
                        <ul class="column is-justify-content-center is-12-mobile">
                            <li>
                                <a href="https://www.facebook.com" target="_blank" class="nav-item">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank" class="nav-item">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/suzybee1987" target="_blank" class="nav-item">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.co.uk/" target="_blank" class="nav-item">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </footer>
    </section>

    {% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/uni-form-validation.jquery.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

</body>

</html>