{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- <div class="navbar-item has-dropdown is-hoverable is-hidden-desktop mobile">
    <a class="navbar-link nav-item">
        Products
    </a>
    <div class="navbar-dropdown">
        <a href="{% url 'products' %}" class="nav-item navbar-item">
            All Products
        </a>
        <a class="nav-item navbar-item"
            href="{% url 'products' %}?category=alpaca,angora,camel_hair,cashmere,lambswool,melton,merino,mohair,shetland,cotton,bamboo">
            Wool
        </a>
        <a class="nav-item navbar-item" href="{% url 'products' %}?category=bamboo,metal,oak,wooden,carbon_fibre">
            Needles
        </a>
        <a class="nav-item navbar-item" href="{% url 'products' %}?category=knitting_pattern">
            Patterns
        </a>
    </div>
</div> -->
{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-mobile">
                <h1 class="title-heading has-text-centered is-justify-content-center">Reviews</h1>
            </div>
        </div>
        <!-- reviews list -->
        {% if reviews %}
        <div class="columns is-multiline is-vcentered is-mobile has-text-centered">
            {% for review in reviews %}
            <div class="column is-8">
                <div class="card">
                    <div class="card-content">
                        <p class="product-trunc"> {{ review.product }}
                        </p>
                        <p class="has-text-weight-bold"> £{{ review.review_title }}
                        </p>
                        <p class="has-text-weight-bold"> £{{ review.review }}
                        </p>
                        <p class="has-text-weight-bold"> £{{ review.review_author }}
                        </p>
                        <p class="has-text-weight-bold"> £{{ review.added_on }}
                        </p>
                        {% if request.user.is_superuser %}
                        <small>
                            <a class="has-text-info" href="{% url 'edit_product' product.id %}">Edit</a> |
                            <a class="has-text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="columns is-justify-content-center has-text-centered">
            <div class="column">
                <h1 class="title-heading-small">There are no reviews yet!</h1>
                <h2 class="m-3">Why not add one?</h2>
                <a href="{% url 'products' %}" class="button is-danger m-3">Check out our products</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- end of products list  -->

    <button class="btt-button button" id="btt-button" onclick="topFunction()">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-angle-up"></i>
        </a>
    </button>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // script from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp 
    //Get the button
    let mybutton = document.getElementById("btt-button")
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    mybutton.addEventListener('click', topFunction);
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        let selector = $(this);
        let currentUrl = new URL(window.location);

        let selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}