{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block extra_js %}
<!-- uni-form jquery  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Uniform.js/4.3.0/js/jquery.uniform.bundled.js"></script>
{% endblock %}
{% block extra_title %} - Add Product {% endblock %}
{% block content %}
<div class="hero-body">
    <div class="container">
        <!-- heading  -->
        <div class="columns">
            <div class="column">
                <h3 class="title-heading my-2">Product Management</h3>
                <h4 class="title-heading-small mt-2">Add A Product</h4>
            </div>
        </div>
        <!-- end of heading  -->
        <div class="columns has-text-left is-justify-content-center">
            <div class="column card is-8-desktop is-10-touch is-offset-1-touch mt-4 mb-6">
                <form action="{% url 'add_product' %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="is-justify-content-right">
                        <div class="columns is-mobile my-2 has-text-centered">
                            <div class="column">
                                <a href="{% url 'products' %}" class="button is-danger is-light is-outlined">
                                    Cancel
                                </a>
                            </div>
                            <div class="column">
                                <button class="button is-danger" type="submit">Add Product</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}