{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="navbar-item has-dropdown is-hoverable is-hidden-desktop mobile">
    <a class="navbar-link nav-item">
        Products
    </a>
    <div class="navbar-dropdown">
        <a href="{% url 'products' %}" class="nav-item navbar-item">
            All Products
        </a>
        <a class="nav-item navbar-item"
            href="{% url 'products' %}?category=alpaca,angora,camel_hair,cashmere,lambswool,melton,merino,mohair,shetland,cotton,bamboo">
            Wool
        </a>
        <a class="nav-item navbar-item" href="{% url 'products' %}?category=bamboo,metal,oak,wooden,carbon_fibre">
            Needles
        </a>
        <a class="nav-item navbar-item" href="{% url 'products' %}?category=knitting_pattern">
            Patterns
        </a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-mobile">
                <h1 class="title-heading has-text-centered is-justify-content-center">Products</h1>
                {% for c in current_categories %}
                <a class="button is-danger" href="{% url 'products' %}?category={{ c.name }}">
                    {{ c.friendly_name }}</a>
                {% endfor %}
                </a>
            </div>
        </div>


        <!-- sorting  -->
        <div class="columns is-vcentered is-mobile has-text-centered">
            <div class="column is-4">
                <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
                    <ul>
                        <li>{% if search_term or current_categories or current_sorting != 'None_None' %}
                            <a href="{% url 'products' %}">Products Home</a>
                            {% endif %}
                        </li>
                        <li class="is-active">
                            <a href="#" aria-current="page">{{ products|length }} Products</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="column is-8 is-justify-content-flex-end">
                <div class="columns is-justify-content-end">
                    <div class="select my-3">
                        <select id="sort-selector">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)</option>
                            <option value="category_desc"
                                {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <!-- end of sorting  -->

        <!-- filter products  -->
        <div class="columns">
            <div class="column is-hidden-mobile filter is-one-fifth">
                <h2 class="filter-heading">Filter</h2>
                <!-- form fibres  -->
                <div class="filter-columns">
                    <form action="" method="GET" class="has-text-left">
                        <div class="field">
                            <h3 class="filter-heading">Fibres</h3>
                            <ul>
                                <li>
                                    <label class="checkbox" for="wool">
                                        <input type="checkbox" name="wool" id="wool">
                                        Wool
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox" for="merino">
                                        <input type="checkbox" name="merino" id="merino">
                                        Merino

                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox" for="bamboo">
                                        <input type="checkbox" name="bamboo" id="bamboo">
                                        Bamboo
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox" for="alpaca">
                                        <input type="checkbox" name="alpaca" id="alpaca">
                                        Alpaca
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox" for="acrylic">
                                        <input type="checkbox" name="acrylic" id="acrylic">
                                        Acrylic
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <!-- form weight  -->
                <div class="filter-columns">
                    <form action="" method="GET" class="has-text-left">
                        <div class="field">
                            <h3 class="filter-heading">Weight</h3>
                            <ul>
                                <li>
                                    <label class="checkbox" for="dk">
                                        <input type="checkbox" name="dk" id="dk">
                                        DK
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox" for="aran">
                                        <input type="checkbox" name="aran" id="aran">
                                        Aran
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox" for="chunky">
                                        <input type="checkbox" name="chunky" id="chunky">
                                        Chunky
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox" for="2ply">
                                        <input type="checkbox" name="2ply" id="2ply">
                                        2-ply
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox" for="3ply">
                                        <input type="checkbox" name="3ply" id="3ply">
                                        3-ply
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox" for="4ply">
                                        <input type="checkbox" name="4ply" id="4ply">
                                        4-ply
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end of filter products  -->
            <!-- products list -->
            <div class="columns is-multiline">
                {% for product in products %}
                <div class="column is-4 is-10-mobile is-offset-1-mobile">
                    <div class="card">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <div class="card-image">
                                <figure class="image is-5by4">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                                </figure>
                            </div>
                        </a>
                        {% else %}
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{ MEDIA_URL }}knitting.png" alt="{{ product.name }}">
                            </figure>
                        </div>
                        {% endif %}
                        <div class="card-content">
                            <p class="product-trunc"> {{ product.name }}
                            </p>
                            <p class="product-trunc">
                                {{ product.colour }}
                            </p>
                            <p class="has-text-weight-bold"> £{{ product.price }}
                            </p>
                            {% if product.category %}
                            <a href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-circle is-grey mx-1"></i>{{ product.category.friendly_name }}
                            </a>
                            {% endif %}
               
                             {% if request.user.is_superuser %}
                             <small>
                                 <a class="has-text-info" href="{% url 'edit_product' product.id %}">Edit</a> |
                                 <a class="has-text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                             </small>
                             {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- end of products list  -->
        </div>
    </div>
    <button class="btt-button button" id="btt-button" onclick="topFunction()">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-angle-up"></i>
        </a>
    </button>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // script from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp 
    //Get the button
    let mybutton = document.getElementById("btt-button")
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    mybutton.addEventListener('click', topFunction);
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        let selector = $(this);
        let currentUrl = new URL(window.location);

        let selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}