{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block extra_js %}
<!-- uni-form jquery  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Uniform.js/4.3.0/js/jquery.uniform.bundled.js"></script>
{% endblock %}

{% block extra_title %} - Products {% endblock %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-10-touch is-offset-1-touch">
                <h2 class="title-heading has-text-centered is-justify-content-center my-4">Products</h2>
                {% for c in current_categories %}
                <a class="button is-danger" href="{% url 'products' %}?category={{ c.name }}">
                    {{ c.friendly_name }}
                </a>
                {% endfor %}
            </div>
        </div>
        <!-- sorting  -->
        <div class="columns is-vcentered has-text-centered my-3 is-justify-content-space-around">
            <div class="column is-4 is-6-touch">
                <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
                    <ul>
                        <li>
                            <a href="{% url 'products' %}" class="product-title">Products Home</a>
                        </li>
                        <li class="is-active">
                            <a href="#" aria-current="page">{{ products_list|length }} products</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="column is-8 is-6-touch is-flex is-justify-content-end">
                <div class="select my-3">
                    <select id="sort-selector">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                        </option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                            (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                            (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                            (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                            (Z-A)</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                            Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                            Category (Z-A)</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- end of sorting  -->
        <!-- products  -->
        <div class="columns is-multiline">
            {% if products %}
            {% for product in products %}
            <div class="column is-12-mobile is-6-tablet is-4-desktop is-3-widescreen is-3-fullhd">
                <div class="card">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <div class="card-image">
                            <figure class="is-flex is-align-items-center is-justify-content-center image is-height-300">
                                <img src="{{ product.image.url }}" alt="image for {{ product.name }}" height="300">
                            </figure>
                        </div>
                    </a>
                    {% else %}
                    <div class="card-image">
                        <figure class="is-flex is-align-items-center is-justify-content-center image is-height-300">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="image for {{ product.name }}">
                        </figure>
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <p class="product-trunc my-1 blog-card-content"> {{ product.name }}
                        </p>
                        <p class="product-trunc my-1">
                            {{ product.colour }}
                        </p>
                        <p class="has-text-weight-bold my-1"> £{{ product.price }}
                        </p>
                        {% if product.category %}
                        <a href="{% url 'products' %}?category={{ product.category.name }}" class="category-link">
                            <i class="fas fa-circle is-grey m-1"></i>{{ product.category.friendly_name }}
                        </a>
                        {% endif %}
                        <br>
                        {% if request.user.is_superuser %}
                        <div class="mt-2 py-3">
                            <a class="button is-info is-light products" href="{% url 'edit_product' product.id %}">Edit <i
                                    class="fas fa-edit ml-2"></i></a>
                            <button class="js-modal-trigger button is-danger is-light products" data-target="modal-{{product.sku}}">
                                Delete <i class="fas fa-times ml-2"></i>
                            </button>
                            <!-- Delete Product Modal  -->
                            <div id="modal-{{product.sku}}" class="modal">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head is-justify-content-center has-text-centered">
                                        <h4 class="modal-card-title is-uppercase product-subtitles-title">
                                            Delete Product</h4>
                                        <button class="delete" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body is-justify-content-center has-text-centered">
                                        <h4 class="is-uppercase product-subtitles-title">
                                            Are you sure you want to delete
                                            <span class="is-underlined is-italic"> {{ product.name }}?</span>
                                        </h4>
                                        <p class="is-uppercase product-subtitles-title">
                                            This action cannot be undone!
                                        </p>
                                    </section>
                                    <footer class="modal-card-foot is-justify-content-space-around">
                                        <a class="button is-danger" href="{% url 'delete_product' product.id %}">
                                            Delete <i class="fas fa-times ml-2"></i>
                                        </a>
                                        <button class="button is-danger is-outlined is-light">Cancel</button>
                                    </footer>
                                </div>
                            </div>
                            <!-- end of delete product modal  -->
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="columns">
                <div class="column no-results">
                    <h3 class="title-heading">Sorry, no products available!</h3>
                </div>
            </div>
            {% endif %}
            <!-- end of products list  -->
        </div>
        <div class="columns is-justify-content-center">
            <div class="column is-6">
                {% if products.has_other_pages %}
                <ul class="pagination">
                    {% if products.has_previous %}
                    <li><a href="?page={{ products.previous_page_number }}" class="button is-text pag-link">Previous</a>
                    </li>
                    {% else %}
                    <li class="disabled"></li>
                    {% endif %}
                    {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                    <li class="active button btn-round"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a href="?page={{ i }}" class="button btn-round">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                    <li><a href="?page={{ products.next_page_number }}" class="button is-text pag-link">Next</a></li>
                    {% else %}
                    <li class="disabled"></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="btt-button button" id="btt-button" onclick="topFunction()">
            <a class="btt-link d-flex h-100"><i class="fas fa-angle-up"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/back-to-top.js' %}"></script>
<script src="{% static 'products/js/sort-selector.js' %}"></script>
<script src="{% static 'products/js/modal.js' %}"></script>

{% endblock %}