{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-10-touch is-offset-1-touch">
                <h1 class="title-heading has-text-centered is-justify-content-center my-5">Products</h1>
                {% for c in current_categories %}
                <a class="button is-danger" href="{% url 'products' %}?category={{ c.name }}">
                    {{ c.friendly_name }}</a>
                {% endfor %}
                </a>
            </div>
        </div>
        <!-- sorting  -->
        <div class="columns is-vcentered has-text-centered my-3 is-justify-content-space-around">
            <div class="column is-4 is-6-touch">
                <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
                    <ul>
                        <li>
                            <a href="{% url 'products' %}">Products Home</a>
                        </li>
                        <li class="is-active">
                            <a href="#" aria-current="page">{{ products|length }} products</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="column is-8 is-6-touch is-flex is-justify-content-end">
                <div class="select my-3">
                    <select id="sort-selector">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                        </option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                            (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                            (high to low)</option>
                                               <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                            (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                            (Z-A)</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                            Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                            Category (Z-A)</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- end of sorting  -->
<!-- products  -->
        <div class="columns is-multiline">
            {% for product in products %}
            <div class="column is-4-desktop is-3-widescreen">
                <div class="card">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <div class="card-image">
                            <figure class="image is-5by4">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                            </figure>
                        </div>
                    </a>
                    {% else %}
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{ MEDIA_URL }}knitting.png" alt="{{ product.name }}">
                        </figure>
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <p class="product-trunc my-1 blog-card-content"> {{ product.name }}
                        </p>
                        <p class="product-trunc my-1">
                            {{ product.colour }}
                        </p>
                        <p class="has-text-weight-bold my-1"> £{{ product.price }}
                        </p>
                        {% if product.category %}
                        <a href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-circle is-grey my-1"></i>{{ product.category.friendly_name }}
                        </a>
                        {% endif %}
                        <br>
                        {% if request.user.is_superuser %}
                        <div class="mt-2 py-3">
                            <a class="has-text-info button" href="{% url 'edit_product' product.id %}">Edit</a>
                            <a class="has-text-danger button" href="{% url 'delete_product' product.id %}">Delete</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- end of products list  -->
        </div>
        <div class="columns is-justify-content-center">
            <div class="column is-6">
                {% if products.has_other_pages %}
                <ul class="pagination">
                    {% if products.has_previous %}
                      <li><a href="?page={{ products.previous_page_number }}"class="button is-text pag-link">Previous</a></li>
                    {% else %}
                      <li class="disabled is-text" disabled><span>Previous</span></li>
                    {% endif %}
                    {% for i in products.paginator.page_range %}
                      {% if products.number == i %}
                        <li class="active button btn-round" disabled><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?page={{ i }}" class="button btn-round">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                      <li><a href="?page={{ products.next_page_number }}" class="button is-text pag-link">Next</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
            </div>
        </div>
        <button class="btt-button button" id="btt-button" onclick="topFunction()">
            <a class="btt-link d-flex h-100">
                <i class="fas fa-angle-up"></i>
            </a>
        </button>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // script from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp 
    //Get the button
    let mybutton = document.getElementById("btt-button")
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    mybutton.addEventListener('click', topFunction);
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        let selector = $(this);
        let currentUrl = new URL(window.location);

        let selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}