{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="columns">
        <div class="column is-mobile">
            <h1 class="title-heading has-text-centered m-3">Products</h1>
        </div>
    </div>

    <div class="columns is-justify-content-space-around has-text-centered">
        <div class="column is-4 is-3-tablet is-mobile m-3">
            <div class="card-image">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <div class="product-image">
                        <figure class="image is-rounded is-vcentered">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image"
                                target="_blank">
                        </figure>
                    </div>
                </a>
                {% else %}
                <a href="{{ product.image.url }}" target="_blank">
                    <div class="product-image">
                        <figure class="image is-rounded is-vcentered">
                            <img src="{{ MEDIA_URL }}knitting.png" alt="{{ product.name }}" target="_blank">
                        </figure>
                    </div>
                </a>
                {% endif %}
                {% if request.user.is_superuser %}
                <div class="justify-content-space-around m-3">
                    <small>
                        <a class="button is-info is-outlined" href="{% url 'edit_product' product.id %}">
                            Edit <i class="fas fa-pen ml-2"></i></a>
                        <a class=" button is-danger is-outlined" href="{% url 'delete_product' product.id %}">
                            Delete <i class="fas fa-times ml-2"></i></a>
                    </small>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="column is-mobile is-4">
            <p class="product-titles m-3">
                {{ product.name }}</p>
            <p class="product-subtitles m-3">{{ product.description }}</p>
            <p class="product-subtitles m-3">{{ product.colour }}</p>
            <p class="product-subtitles m-3">£{{ product.price }}</p>
            <p>{% if product.category %}
                <a href="{% url 'products' %}?category={{ product.category.name }}" class="m-3">
                    <i class="fas fa-circle mx-1"></i>{{ product.category.friendly_name }}
                </a>
                {% endif %}
            </p>

            <!-- form for quantity of items to add to bag  -->
            <form action="{% url 'add_to_bag' product.id %}" method="POST" class="m-2">
                {% csrf_token %}
                {% with product.has_sizes as s %}
                {% if s %}
                Size:
                <div class="select is-success">
                    <select name="product_size" id='id_product_size'>
                        <option value="2.0mm">2.0mm</option>
                        <option value="2.5mm">2.5mm</option>
                        <option value="3.0mm">3.0mm</option>
                        <option value="3.5mm">3.5mm</option>
                        <option value="4.0mm">4.0mm</option>
                        <option value="4.5mm">4.5mm</option>
                        <option value="5.0mm">5.0mm</option>
                        <option value="5.5mm">5.5mm</option>
                        <option value="6.0mm">6.0mm</option>
                        <option value="6.5mm">6.5mm</option>
                        <option value="7.0mm">7.0mm</option>
                        <option value="7.5mm">7.5mm</option>
                        <option value="8.0mm">8.0mm</option>
                    </select>
                </div>
                {% endif %}
                {% endwith %}

                {% with product.has_weights as w %}
                {% if w %}
                <div class="column is-mobile">Weight:
                    <div class="select is-success">
                        <select name="product_weight" id='id_product_weight'>
                            <option value="lace">Lace</option>
                            <option value="sock fingering">Sock, Fingering</option>
                            <option value="sport baby">Sport, Baby</option>
                            <option value="dk light worsted">DK, Light Worsted</option>
                            <option value="worsted">Worsted</option>
                            <option value="chunky bulky">Chunky, Bulky</option>
                            <option value="bulky">Bulky</option>
                        </select>
                    </div>
                </div>
                {% endif %}
                {% endwith %}

                <div class="columns m-3">
                    <div class="column">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="quantity">Qty:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" type="number" name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}"
                                            placeholder="Text input">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="field column is-mobile">
                        <div class="control">
                            <input type="submit" class="button is-danger" name="bag" value="Add to Bag">
                        </div>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            <!-- modals for conversions  -->
            <div class="modal" id="modal-knitting">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <table class="table is-bordered is-striped">
                        <thead>
                            <tr>
                                <th>Metric (mm)</th>
                                <th>UK (old)</th>
                                <th>USA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2.0mm</td>
                                <td>14</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2.5mm</td>
                                <td>N/A</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>3.0mm</td>
                                <td>11</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>3.5mm</td>
                                <td>N/A</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>4.0mm</td>
                                <td>8</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>4.5mm</td>
                                <td>7</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>5.0mm</td>
                                <td>6</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>5.5mm</td>
                                <td>5</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>6.0mm</td>
                                <td>4</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>6.5mm</td>
                                <td>3</td>
                                <td>10.5</td>
                            </tr>
                            <tr>
                                <td>7.0mm</td>
                                <td>2</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>7.5mm</td>
                                <td>1</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>8.0mm</td>
                                <td>0</td>
                                <td>11</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>
            <div class="columns">
                <div class="column">
                    <button class="js-modal-trigger button is-info is-light is-outlined" data-target="modal-knitting">
                        Knitting Needle Conversion
                    </button>
                </div>
            </div>
            <div class="modal" id="modal-crochet">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <table class="table is-bordered is-striped">
                        <thead>
                            <tr>
                                <th>Metric (mm)</th>
                                <th>UK (old)</th>
                                <th>USA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2.0mm</td>
                                <td>14</td>
                                <td>B/1</td>
                            </tr>
                            <tr>
                                <td>2.5mm</td>
                                <td>12</td>
                                <td>C/2</td>
                            </tr>
                            <tr>
                                <td>3.0mm</td>
                                <td>11</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>3.5mm</td>
                                <td>9</td>
                                <td>E/4</td>
                            </tr>
                            <tr>
                                <td>4.0mm</td>
                                <td>8</td>
                                <td>G/6</td>
                            </tr>
                            <tr>
                                <td>4.5mm</td>
                                <td>7</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>5.0mm</td>
                                <td>6</td>
                                <td>H/8</td>
                            </tr>
                            <tr>
                                <td>5.5mm</td>
                                <td>5</td>
                                <td>I/9</td>
                            </tr>
                            <tr>
                                <td>6.0mm</td>
                                <td>4</td>
                                <td>J/10</td>
                            </tr>
                            <tr>
                                <td>6.5mm</td>
                                <td>3</td>
                                <td>K/10.5</td>
                            </tr>
                            <tr>
                                <td>7.0mm</td>
                                <td>2</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>8.0mm</td>
                                <td>0</td>
                                <td>N/A</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>
            <div class="columns">
                <div class="column">
                    <button class="js-modal-trigger button is-info is-light is-outlined"
                        data-target="modal-crochet">Crochet Hook
                        Conversion
                    </button>
                </div>
            </div>
            <!-- end of modals  -->
        </div>
    </div>
</div>

<div class="divider-products"></div>
<!-- Reviews Section -->
<div class="columns is-justify-content-center has-text-centered">
    <div class="column">
        <h1 class="title-heading has-text-centered ">Reviews of {{ product.name }}</h1>
    </div>
</div>
<div class="columns is-justify-content-center is-multiline">
    {% if reviews %}
    {% for review in product.reviews.all %}
    <div class="column is-10 is-offset-1 card m-3">
        <div class="card-header">
            <div class="card-header-title">
                <h2 class="title-heading-small">{{ review.review_title }}
                </h2>
            </div>
        </div>
        <div class="card-content">
            <p class="">{{ review.review }}</p>
        </div>
        <div class="card-footer"></div>
        <p class="">Reviewed by: {{ review.review_author }}</p>
        <p class="">Posted on: {{ review.added_on }}</p>
    </div>
    {% endfor %}
    {% else %}
    <div class="column">
        <h1 class="title-heading-small">There are no reviews for {{ product.name }} yet.</h1>
        <h2 class="title-heading-small">Why don't you add one?</h2>
    </div>
    {% endif %}
</div>
<div class="columns is-justify-content-center m-3">
    <div class="column is-6-desktop is-10-touch is-offset-1-touch">
        <form action="{% url 'add_review' product.id %}#reviews" method="POST">
            {% csrf_token %}
            <div class="columns">
                <div class="column">
                    {{ form|crispy }}
                </div>
            </div>
            <div class="columns has-text-centered">
                <div class="column is-6 ">
                    <button type="reset" class="button is-danger is-light is-outlined">
                        Reset Form
                    </button>
                </div>
                <div class="column is-6">
                    <button class="button is-danger" type="submit">Add Review</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            /* Toggle between adding and removing
               the "active" class, to highlight the button that controls the panel */
            this.classList.toggle("active");
            /* Toggle
               between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);
            console.log($target);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll(
            '.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || [])
        .forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });
</script>

{% endblock %}