{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="hero-body">
    <div class="columns">
        <div class="column">
            <h1 class="title-heading has-text-centered ">Products</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="image">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <div class="card-image">
                        <figure class="image is-5by4">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image"
                                target="_blank">
                        </figure>
                    </div>
                </a>
                {% else %}
                <a href="{{ product.image.url }}" target="_blank">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{ MEDIA_URL }}knitting.png" alt="{{ product.name }}" target="_blank">
                        </figure>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="column">
            <p>{{ product.name }}</p>
            <p>{{ product.price }}</p>
            {% if product.rating %}
            <p>{{ product.rating }}</p>
            {% else %}
            <p>No Rating</p>
            {% endif %}
            <p>{{ product.description }}</p>
            <p>{{ product.colour }}</p>

        </div>
    </div>
</div>

{% endblock %}