a.button.is-primary.is-light:hover {
    border: 2px solid #00947e;
    color: #ebfffc;
    background: #00947e;

}

/* home   */

.hero-body {
    padding: 0;
    background-color: #F6F6F6;
}

.hero-bground {
    background: url("../../../../media/rainbow.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.product-card {
    padding: 20px;
    border-color: #00947e;
    background-color: #00947e;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}


.col-animation {
    padding-bottom: 50px;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.cols-animation {
    width: 100%;
}

.image-down {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: bounce-1;
    animation-timing-function: linear;
}

/* .columns {
    width: 100%;
} */

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.scroll-down {
    width: 300px;
    margin: auto;
    border-color: #485fc7;
    border-style: solid;
    border-width: 10px;
    color: #485fc7;
    font-family: math;
    font-size: x-large;
    border-radius: 25px;
    background-color: rgb(255 255 255 / 80%);
}

.divider {
    height: 0px;
    border-radius: 2px;
    background-color: #485fc7;
    color: #485fc7;
    border: 2px solid #485fc7;
    width: 80%;
    margin: 50px auto;
}

/* end of home  */