<div class="toast custom-toast" data-autohide="false">
    <div class="notification is-primary">
        <button class="delete" aria-label="close"></button>
        <h3 class="title-heading-small">Success!</h3>
        <div class="columns">
            <div class="column notification-column">
                {{ message }}
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
        <div class="bag-notification-wrapper">
            {% for item in bag_items %}
            <div class="columns">
                <div class="column is-4">
                    {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" alt="image for {{ item.product.name }}">
                    {% else %}
                    <img src="{{ MEDIA_URL }}knitting.png" alt="image for {{ item.product.name }}">
                    {% endif %}
                </div>
                <div class="column is-8">
                    <p class="small"> {{ item.product.name }}</p>
                    <p class="small">{% if product.has_sizes %}Size:{{ item.size|upper }}{% endif %}</p>
                    <p class="small">Qty: {{ item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="columns">
            <div class="column">
                <strong>
                    <p>
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                        <span class="float-right">£{{ total|floatformat:2 }}</span>
                    </p>
                </strong>
                {% if free_delivery_delta > 0 %}
                <p>
                    Spend <strong>£{{ free_delivery_delta }}</strong> more to get free next day delivery!
                </p>
                {% endif %}
                <a href="{% url 'view_bag' %}">
                    <span class="is-uppercase">Go To Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>